main {
  margin-top: 1rem;
}

h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
}

.birthdays-list {
  margin-top: 1.5rem;
  padding: 1rem 1.125rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.birthday-item {
  background-color: rgb(236, 233, 238);
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
}

.birthday-item h3 {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.birthday-item p {
  font-size: 1.07rem;
  margin-bottom: 1.2rem;
}
